/*
stílus felülírások helye
*/
header {
     background:#efefef;
 }
footer {
    background: #dedede;
}

/*címdoboz formázások*/
.address-residence {
    background: lightgreen;
}
.address-business {
    background: lightyellow;
}
.address-temporary {
    background: lightblue;
}